<div class="mt-3"></div>
<form class="d-flex align-items-center justify-content-around mt-5">
  <div class="mb-3">
    <label for="floatingSelect" class="form-label">Status</label>
    <select
      class="form-select"
      id="floatingSelect"
      name="status"
      (change)="onChange()"
      [(ngModel)]="status"
    >
      <option value="" disabled>Select Status</option>
      <option value="OPEN">OPEN</option>
      <option value="RESOLVED">RESOLVED</option>
      <option value="REJECTED">REJECTED</option>
      <option value="ONGOING">ONGOING</option>
      <option value="CLOSED">CLOSED</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="trackingNumber" class="form-label">Tracking Number</label>
    <input
      type="number"
      class="form-control"
      id="trackingNumber"
      name="trackingNumber"
      placeholder="Enter tracking number"
      (input)="onChange()"
      [(ngModel)]="trackingNumber"
    >
  </div>
  <div class="mb-3">
    <label for="titleOrDescription" class="form-label">Title / Description</label>
    <input
      type="text"
      class="form-control"
      id="titleOrDescription"
      name="textdesc"
      placeholder="Enter title or description"
      (input)="onChange()"
      [(ngModel)]="textDesc"
    >
  </div>
  <div class="mb-3">
    <label for="startDate" class="form-label">Start Date</label>
    <input
      type="month"
      class="form-control"
      id="startDate"
      name="startDate"
      [(ngModel)]="startDate"
      (input)="onChange()"
      [max]="maxDate"
      required
    />
  </div>
  <div class="mb-3">
    <label for="endDate" class="form-label">End Date</label>
    <input
      type="month"
      class="form-control"
      id="endDate"
      name="endDate"
      [(ngModel)]="endDate"
      (input)="onChange()"
      [max]="maxDate"
      required
    />
  </div>
</form>
<div *ngIf="dateError" class="text-danger mx-5">
  Start Date cannot be later than End Date.
</div>
