<nav class="navbar navbar-expand-lg bg-body-tertiary p bg-success-subtle" id="navbar">
  <a class="navbar-brand" [attr.href]="isSuperAdmin() ? 'https://training.grs.gov.bd/manageCell.do' : 'https://training.grs.gov.bd/dashboard.do'">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="{1.5}" stroke="currentColor" width="20px" height="20px" class="size-6" style="margin-top: -5px">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    {{ redirectLink }}
  </a>
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex">
<!--          <a class="nav-link" aria-current="page" [routerLink]='["/"]' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
<!--            Home-->
<!--          </a>-->
          <a class="nav-link" aria-current="page" [routerLink]='["issues","list"]' routerLinkActive="active">
            My Issues
          </a>
          <a class="nav-link" *ngIf="isAdmin()" aria-current="page" [routerLink]='["admin","inbox"]' routerLinkActive="active">
            Inbox
          </a>
        </li>
      </ul>
      <div *ngIf="isAuthenticated()" appDropdown class="dropdown">
        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/profile.jpg" alt="user profile" id="profile-icon" class="img-40px rounded-circle">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]='["profile"]'>Profile</a></li>
          <li><a class="dropdown-item" [routerLink]='["issues","list"]'>My Issues</a></li>
          <li><a class="dropdown-item" [routerLink]='["issues","new"]'>New Issue</a></li>
          <li><a class="dropdown-item" style="cursor:pointer;" (click)="logout()">Return to Dashboard</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
