<div class="mt-5 mb-5 d-flex justify-content-between">
  <h2>My Issues</h2>
  <button class="btn btn-success">New Issue</button>
</div>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tracking Number</th>
    <th scope="col">Subject</th>
    <th scope="col">Status</th>
    <th scope="col">Office</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>one</td>
    <td>one</td>
    <td>one</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>two</td>
    <td>two</td>
    <td>two</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry the Bird</td>
    <td>three</td>
    <td>three</td>
    <td>three</td>
    <td>three</td>
  </tr>
  </tbody>
</table>
