<h2>Dashboard</h2>
<div class="row d-flex align-items-center dashboard">
  <div class="col-6">
    <ngx-charts-pie-chart
      [view]="view"
      [results]="pieData"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
    >
    </ngx-charts-pie-chart>
  </div>
  <div class="col-6">
    <table class="table table-hover">
      <thead>
      <tr class="table-header">
        <th scope="col">STATUS</th>
        <th scope="col">COUNT</th>
        <th scope="col">%</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><strong class="text-primary">OPEN</strong></td>
        <td id="open-count">{{ getValueByName("OPENED") }}</td>
        <td id="open-pcent">{{ getPercentByName("OPENED") }}%</td>
      </tr>
      <tr>
        <td><strong class="text-warning">ONGOING</strong></td>
        <td id="ongoing-count">{{ getValueByName("ONGOING") }}</td>
        <td id="ongoing-pcent">{{ getPercentByName("ONGOING") }}%</td>
      </tr>
      <tr>
        <td><strong class="text-secondary">CLOSED</strong></td>
        <td id="close-count">{{ getValueByName("CLOSED") }}</td>
        <td id="close-pcent">{{ getPercentByName("CLOSED") }}%</td>
      </tr>
      <tr>
        <td><strong class="text-success">RESOLVED</strong></td>
        <td id="resolve-count">{{ getValueByName("RESOLVED") }}</td>
        <td id="resolve-pcent">{{ getPercentByName("RESOLVED") }}%</td>
      </tr>
      <tr>
        <td><strong class="text-danger">REJECTED</strong></td>
        <td id="reject-count">{{ getValueByName("REJECTED") }}</td>
        <td id="reject-pcent">{{ getPercentByName("REJECTED") }}%</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
